* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
}
.App {
  width: 800px;
}
.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.emptyPost {
  width: 320px;
  display: none;
  padding: 10px 15px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid teal;
  border-radius: 5px;
  box-shadow: 0 0 10px -2px rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.emptyPostText {
  font-size: 16px;
  color: teal;
  padding: 15px 0;
}
.emptyPostActive {
  display: flex;
}
.emptyListPosts {
  text-align: center;
  margin-top: 30px;
}
.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
.page__wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}
